{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Central de Doações</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/carrinho2.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="carrinho">
        <div class="cabecalho-carrinho">
            <button>
                <a href="escolha" class="btn-link">
                    <i class='bx bx-chevron-left'></i>
                </a>
            </button>
            <h3>Meu Carrinho</h3>
        </div>
        <ul id="items">
            <li class="carrinho-item">
                <div class="imagem">
                    <img src='{% static "src/coxinha.png" %}' alt="">
                </div>
                <div class="info">
                    <h4>Coxinha</h4>
                    <div class="detalhes">
                        <div class="colaborador">
                            <i class='bx bx-body'></i>
                            <span>Colaborador</span>
                        </div>
                        <div class="status">
                            <i class='bx bx-package'></i>
                            <span>Disponibilidade</span>
                        </div>
                    </div>
                    <div class="valor-da-doacao">
                        <p>R$ 3,50</p>
                        <div class="contador">
                            <button class='bx bx-minus'></button>
                            <span>1</span>
                            <button class='bx bx-plus'></button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="carrinho-item">
                <div class="imagem">
                    <img src="./src/risole.png" alt="">
                </div>
                <div class="info">
                    <h4>Risole</h4>
                    <div class="detalhes">
                        <div class="colaborador">
                            <i class='bx bx-body'></i>
                            <span>Colaborador</span>
                        </div>
                        <div class="status">
                            <i class='bx bx-package'></i>
                            <span>Disponibilidade</span>
                        </div>
                    </div>
                    <div class="valor-da-doacao">
                        <p>R$ 4,50</p>
                        <div class="contador">
                            <button class='bx bx-minus'></button>
                            <span>1</span>
                            <button class='bx bx-plus'></button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="valor-da-doacao">
            <p>Total: <span id="total">R$0,00</span></p>
            <a href="pagamento" class="pagar" id="checkout">Finalizar doação</a>
        </div>
    </div>
    
    <script src="{% static 'js/carrinho2.js' %}"></script>
</body>
</html>
