{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalização</title>    
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="carrinho2.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">

</head>
<body style="padding: 10px;">
    <h4 style="text-align: center;">Finalize sua doação diretamente com o colaborador ou pelo QRcode abaixo</h4>
    <div style="text-align: center;">
        <img style="width: 80%;" src='{% static "src/pixTest.jpeg" %}' alt="">
        <br>
    </div>
    <h4>Antes de finalizar qualquer pagamento fale com o colaborador <a href="">falar com o colaborador</a></h4>
    <br><br>
    <br>
 <p>
    <h6>
        <a href="opcoes">Voltar ao inicio</a>
    </h6>
 </p>
 
</body>
</html>