{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de parceiro</title>
</head>
<body>
    <div class="container" > 
      <img class="logo" src="{% static 'src/logoPrinc.jpg' %}" alt="">
        <h3>
            COMO ESTAMOS EM MOMENTO DE TESTES, ESSA OPÇÃO NAO ESTA HABILITADA, <a href="opcoes">VOLTE</a> 
            PARA ESCOLHER A OPÇÃO "SALGADOS" PODENDO COLABORAR COM R$:1,00 PARA OBTER UMA DELICIOSA COXINHA!
        </h3>
        <h5>Obrigado pela compreenção</h5>
    
      <h6>Todos os direitos reservados</h6>
      <h6><a href="inicio">Sobre nós</a></h6>

    </div>

</body>
</html>