
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('src/refeicao.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: rgba(243, 99, 26, 0.9);
    padding: 20px 0;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav-links li a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    background: rgba(247, 247, 247, 0.342);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.hero {
    /*max-width: 800px;*/
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.795);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #f3631a;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f3631a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #d9531e;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        align-items: center;
    }
    main {
        /*display: flex;
        justify-content: center;
        align-items: center;*/
        /*height: 80vh;*/
        text-align: center;
        background: rgba(247, 247, 247, 0);
        padding: 10px;
        border-radius: 10px;
        margin: 20px;
        width: 80%;
    }    
    .hero {
        padding: 10px;
        
    }
    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }
    .btn {
        display: inline-block;
        padding: 5px 8px;
        background-color: #f3631a;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .navbar-toggle {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        width: 100%;
    }

    .nav-links li a {
        padding: 10px;
        border-top: 1px solid #f3631a;
        border-bottom: 1px solid #f3631a;
    }
}

/* Navbar Toggle Styles */
.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}
